@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 25% 95%; /* #F0F4F7 */
    --foreground: 222 47% 11%;
    --card: 206 25% 98%;
    --card-foreground: 222 47% 11%;
    --popover: 206 25% 98%;
    --popover-foreground: 222 47% 11%;
    --primary: 217 100% 73%; /* #78A7FF */
    --primary-foreground: 222 47% 11%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 25% 65%;
    --accent: 120 73% 75%; /* #90EE90 */
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
    --chart-1: 43 74% 66%; /* yellow */
    --chart-2: 27 87% 67%; /* orange */
    --chart-3: 0 84% 60%; /* red */
    --chart-4: 300 88% 65%; /* purple */
    --chart-5: 330 80% 45%; /* maroon */
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 100% 73%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 217 17% 65%;
    --accent: 120 73% 75%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 91% 60%;
    --chart-1: 43 74% 66%;
    --chart-2: 27 87% 67%;
    --chart-3: 0 84% 60%;
    --chart-4: 300 88% 65%;
    --chart-5: 330 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
